*{
    margin: 0px;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

.container-calculator{
    width: 100%;
    height: 30%;
}

.container-element{
    width: 15%;
    float: left;
}